@mixin roboto-regular {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

@mixin roboto-medium {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

@mixin roboto-light {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

@mixin body2 {
  font-size: 14px;
  @include roboto-regular();
}
