@mixin Roboto-Regular {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

@mixin Roboto-Medium {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

@mixin Roboto-Light {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

@mixin Body2 {
  font-size: 14px;
  @include Roboto-Regular();
}
