.material-input {
  width: 280px;
  height: 56px;
  position: relative;
  display: flex;
  flex-direction: column;

  & input {
    max-width: 100%;
    height: 56px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgba(0, 0, 0, 0.06);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    user-select: none;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 16px;
    color: $primary-color;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.89);
    -webkit-text-fill-color: transparent;

    @include roboto-medium;

    &::placeholder {
      text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
    }
  }

  .indicator {
    width: 0%;
    height: 2px;
    background-color: $primary-color;
    bottom: 0;
    position: absolute;
    transition: 0.15s ease-out;

    @include center-horizontal;
  }
}
